{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prospect Agreement Document</title>

</head>

<body>
    <div>
        <h1>PAYONE</h1>
        <h3>PAYONE Ltd</h3>
        <h3>MŞ 22024</h3>
        <h3>TİCARİ KULLANIM ŞARTLARI</h3>
        <h4>ŞARTLAR, 10 Ağustos 2023 TARİHİNDE GÜNCELLENMİŞTİR</h4>
    </div>
    <div>
        <p>
            Bu Satıcı Kullanım Şartları ("Şartlar"),
            Payone ePOS Satıcısı aracılığıyla Payone tescilli markası
            altında PAYONEL Ltd. (Payone) tarafından sağlanan ürünler,
            hizmetler veya diğer özellik, teknoloji veya işlevleri ("Hizmetler")
            kullanımınızı yönetir. Web sitemiz, API, yazılım platformları veya diğer
            yollarla ağ geçidi. "Biz", "bizim" ve "biz" terimleri, Payone'e ve "siz" ve "sizin",
            Hizmetleri sağlayacağımız tüccara ve aşağıda imzalanan veya Şartları adına
            kabul eden kişiye atıfta bulunur. Hizmetleri kullanarak, Şartları kabul
            ettiğinizi kabul eder ve onaylarsınız, bu nedenle şartları dikkatlice
            okuduğunuz kabul edilir
        </p>
        <p>
            1. Hizmetler
            Biz bir kripto para ödeme işlemcisiyiz.
            Payone, kripto para birimini mal veya hizmetler
            için ödeme olarak kabul etmenize ve müşterinizden (Alıcı)
            alınan kripto para birimi ödemelerini işleme koymanıza olanak tanır.
            Hizmetlerimiz yalnızca Kuzey Kıbrıs Türk Cumhuriyeti'nde (KKTC)
            kayıtlı olan, bir ürün veya hizmet satan işletmeler tarafından kullanılabilir.
            Hizmetleri kullanarak, sizin adınıza para alabilmemiz, tutabilmemiz ve ödememizi
            ve Hizmetleri sağlamak ve geçerli yasalara uymak için gerekli gördüğümüz her türlü
            işlemi yapabilmemiz için aracınız olarak hareket etmemiz için bize yetki vermiş olursunuz.
            Alıcı tarafından Payone'e yapılan ödeme, doğrudan size yapılan ödemeyle
            aynı kabul edilecek ve Alıcının ödeme temelinde ödenmemiş yükümlülüğünü
            ortadan kaldıracaktır.
        </p>

        <p>
            2.1 Genel olarak
            Hizmetleri kullanmak için bir Payone hesabı
            açmalısınız. Bir hesap açtığınızda, şirket adınız,
            telefon numaranız, e-posta adresiniz gibi iletişim
            bilgileri ve kuruluşun resmi veya yetkili kişi / kişileriyle ilgili
            bilgiler isteyeceğiz. İşletmenizin yasal adı ve şirket tescil belgeleri,
            işletmenin fiziksel adresi ve şirketinizin web sitesi dahil olmak üzere
            ticari faaliyetleriniz hakkında sizden bilgi de isteyeceğiz. Hesap açılışı
            sırasında verdiğiniz bilgiler doğru ve eksiksiz olmalı ve bu tür bilgilerdeki
            herhangi bir değişikliği bize on iş (10) gün içinde bildirmelisiniz. Kimliğinizi
            doğrulamaya ve iş riskinizi değerlendirmeye yardımcı olmak için sizden ek bilgiler
            (aşağıda imzalayanlar veya Satıcı adına Şartları kabul edenler dahil) isteyebiliriz.
            Bize doğru, eksiksiz ve tatmin edici bilgiler vermezseniz, hesap kaydınızı reddetme
            veya Payone hesabınızı daha sonra kapatma hakkına sahibiz.

        </p>

        <p>
            2.2 Parolanızı Koruma
            Hesabınızı kaydederken bir şifre seçeceksiniz.
            Siz ve / veya yetkili kullanıcılarınız, şifrenizin ve hesap
            erişim bilgilerinizin gizliliğini korumaktan sorumlusunuz.
            Şifrenizin veya hesabınızın kullanılmasıyla meydana gelen tüm
            faaliyetlerden tamamen siz sorumlusunuz. Lütfen şifrenizin veya
            hesabınızın izinsiz kullanımı veya başka herhangi bir güvenlik
            ihlali durumunda bizi derhal bilgilendirin. Parolanızı başkalarıyla
            paylaşırsanız, başka birinin parolanızı veya hesabınızı bilginiz
            dahilinde veya dışında kullanması nedeniyle uğrayabileceğiniz herhangi
            bir kayıptan sorumlu olmayacağız. Diğer satıcıların hesabınızı kullanmasına
            izin veremezsiniz. Herhangi bir zamanda başkasının şifresini kullanamazsınız.
        </p>

        <p>
            3. Satışlarınız

            3.1 Faturalar ve Kayıtlar
            Alıcıya mal veya hizmet satışını gerçekleştirmek ve
            Alıcıya her türlü satış sonrası desteği sağlamak için
            gerekli tüm kayıtları tutmalısınız. Öğenin satışı, satış
            için herhangi bir resmi tescil gerektiriyorsa, bu tür kayıttan
            siz sorumlusunuz. Payone, hesabınızın aktif olduğu süre boyunca
            ve sonraki 7 yıla kadar tüm işlemlerin, şirket belgelerinin ve üye
            işyeri hesabınız için toplanan bilgilerin kayıtlarını tutmakla yükümlüdür.

            3.2 Müşteri Doğrulaması
            (KKTC) yerel yasa ve yönetmeliklerine uygun olarak,
            mal veya hizmetlerinizin Alıcılarından istenen bilgileri
            almaktan yalnızca siz sorumlusunuz. Örneğin, yürürlükteki
            yasalar 18 yaşın altındaki herhangi birine satış yapılmasını
            yasaklıyorsa, Alıcının en az 18 yaşında olduğundan emin olmalısınız.
            Benzer şekilde, geçerli yasalar bir Alıcının kimliğinin doğrulanmasını
            gerektiriyorsa, Alıcının kimliğini doğrulamanız gerekir. Alıcılarınızın
            kimliklerini veya niteliklerini yeterli şekilde doğrulayamamanızdan sorumlu
            olmayacağız.

            3.3 Beyanlar ve Garantiler
            Hizmetlerin kullanımı, terörün finansmanının ve kara
            para aklamanın önlenmesine ilişkin yasa ve yönetmeliklere tabidir.
            Hizmetleri kullanımınızın, bunlarla sınırlı olmamak üzere,
            bu tür yasa ve düzenlemelere uygun olacağını kabul edersiniz;
            Hizmetleri kullanımınız da aşağıdaki önemli kısıtlamalara tabidir:
            a. En az on sekiz (18) yaşında veya daha büyüksünüz ve bu Şartları
            kabul etme hakkına, gücüne ve sözleşme kapasitesine sahipsiniz.
            b. Hizmetleri kullanımınız, KKTC'nin yürürlükteki
            vergi yasaları ve düzenlemeleri dahil olmak üzere yerel yasa veya
            düzenlemelere aykırı olmayacaktır.

        </p>

        <p>
            c. Hizmetleri kullanımınız aşağıdaki yasaklanmış faaliyetlerle ilgili olmayacaktır:
            i. Narkotik, araştırma kimyasalları veya herhangi bir kontrollü maddenin satışı;
            ii. Kripto para birimlerinin ve spekülasyon veya riskten korunma amacıyla kullanılan öğelerin (türevler
            gibi) satışı veya ticareti dahil olmak üzere nakit veya nakit benzerlerinin satışı;
            iii. telif hakları, ticari markalar, ticari sırlar veya patentler gibi fikri mülkiyet haklarını ihlal eden
            öğeler;
            iv. Geçerli yasanın düzenlediği veya tarafımızca belirlenen şekilde mühimmat, ateşli silahlar, patlayıcılar
            (havai fişekler dahil) veya silahlar; veya
            v. Üçüncü tarafların kişisel bilgilerini geçerli yasaları ihlal edecek şekilde gösteren işlemler;
            vi. Piramit düzenlerini, dolandırıcılık faaliyetlerini veya diğer dolandırıcılık faaliyetlerini destekleyen
            işlemler;
            vii. Açık cinsel içerik;
            viii. Kredi veya borç ödeme hizmetlerinin sağlanması;
            ix. Payone ile rekabet eden herhangi bir hizmet;
            x. KKTC kanunlarınca yasadışı sayılan her türlü ürün veya hizmet;
            xi. Siz ve müşterileriniz yalnızca yazılı iznimizle ve kumar veya kumarhane oyunları,
            spor bahisleri, at veya tazı yarışları piyango biletleri, diğer kumar kolaylaştırıcıları
            ve çekilişler dahil ancak bunlarla sınırlı olmamak üzere giriş ücreti ve ödülü olan diğer
            herhangi bir etkinliği içeren işlemler için yasaların izin verdiği ölçüde hareket edebilirsiniz.
        </p>

        <p>
            4. Mülkiyet veya Hizmetler ve PAYONE web sitesi
            Hizmetler, ilgili yazılımlar, teknoloji araçları ve içerik,
            Payone web sitesi ve Payone Alt Alanı, web sitesinde görüntülenen
            içerik ve Payone tarafından üretilen ve Payone ile ilgili diğer
            malzemelerdeki tüm haklara, mülkiyete ve menfaatlere sahip olduğumuzu
            kabul etmektesiniz. (toplu olarak Payone / Payone IP). Bu Koşullar kapsamında,
            ödemeleri kabul etmek ve almak için Hizmetleri ve Payone / Payone IP'sini kullanmanıza
            izin verilmektedir. Koşulları kabul ettiğinizde, alt lisans hakkı olmaksızın
            Payone / Payone IP'yi kullanmanız için size kişisel, sınırlı, geri alınabilir
            ve devredilemez bir lisans veriyoruz.

            5. Reklam
            Payone'in tanıtım materyallerinde ve tüm pazarlama
            kanallarında kurumsal adınızı, URL'nizi, sanat eserinizi,
            metninizi, logonuzu ve işletmeniz hakkında herkese açık diğer
            bilgileri ("Satıcı İçeriği") reklam amaçları bakımından yayınlayabiliriz.

        </p>

    </div>

    <div>
        <p>
            6. Faturalar ve Hesap Ayarları
            6.1 Döviz Kuru Garantisi
            Payone ePOS yazılımına entegre olan XE.com Döviz
            Alım Satım Uygulaması tarafından yayınlanan döviz
            kurlarını kabul edersiniz. İşlenen tüm işlemlerde
            entegre XE.com API'sine dayalı canlı döviz kurunu
            size garanti edeceğiz. Ücreti, ödemeler için tüccarların
            önceden tanımladığı para birimi tercihlerine göre
            sabitleyeceğiz. TRY, USD, EURO ve GBP'yi destekliyoruz.
            Alıcı, Payone arayüzünde önceden tanımlandığı şekilde bu
            zaman dilimi içinde ödeme yaptığı sürece döviz kurunu garanti
            ederiz, itibari ödeme para biriminizin dalgalanma riskini
            üstlendiğinizi kabul edersiniz. Örneğin, bizden 150 $ almamızı
            isterseniz ve Alıcı zaman çerçevesi içinde kripto para birimi
            eşdeğerini gönderirse, ücretimizden tam olarak 150 $ daha az
            alacağınızı garanti ederiz. Ancak, ABD dolarının değerini garanti
            etmiyoruz.

            Bakım ücreti şunları içerir:
            a. Yazılım kurulumu, konfigürasyonu ve sürekli sistem takibi.
            b. Özelleştirilmiş Markalaşma
            c. Sınırsız Kullanıcı (personel / çalışan) eğitimi ve oryantasyonu
            d. Yazılım Donanım Yazılımı / Sürüm güncellemeleri, hata analizi ve düzeltmeleri
            e. E-posta ve telefonla Müşteri Desteği
            f. 7/24 sunucu bakımı

            6.2 Yerleşim Yöntemleri
            Alıcının ödemelerini kripto para birimi eşler arası
            ödeme ağı aracılığıyla doğrulayacak ve bakiyeyi tercih ayarlarınıza
            göre defterinize kaydedeceğiz. Defterinizdeki borçlar ve alacaklar,
            banka hesabınıza ödeme yapılıncaya veya yetkili şirket yetkilisine nakit
            ödeme yapılana kadar Payone tarafından geçici olarak tutulan fonlardır.
            Aşağıdaki para birimlerinden herhangi birinde ödeme
            alabilirsiniz - TRY, USD, GBP, EURO. Kapatmayı seçtiğiniz para biriminin
            dalgalanma risklerini üstlenirsiniz. Örneğin, TRY ile ödemeyi seçerseniz,
            TRY'nin değerinde herhangi bir dalgalanma riskini alırsınız.

            6.2.1 Yerleşimler
            KKTC'de kayıtlı tüccarlar için tüccarın banka hesabına doğrudan para yatırma
            veya nakit ödemeler mevcuttur. Doğrudan banka mevduatı ödemeleri almak istiyorsanız,
            bize geçerli banka hesabı bilgilerini sağlamalısınız. Nakit ödeme almak istiyorsanız,
            adresteki kayıtlı ofisimizden nakit ödemelerin tahsilatı için yetkili bir kişi atamalısınız;
            10 MagicPlus, Semih Sancar Caddesi, Girne, KKTC. Tayin edilen yetkili kişide herhangi
            bir değişiklik olursa, derhal
        </p>

    </div>

    <div>

        <p>
            bizi bilgilendirmeli ve bu bilgileri yazı veya e-posta yoluyla
            güncel tutmalısınız. Birikmiş defteri kebir bakiyenizi her iş
            günü veya önceden tanımlanmış tercih ayarlarınıza göre haftalık
            veya aylık olarak temizlemek için banka hesabınıza veya nakit ödeme
            mutabakatına doğrudan para yatıracağız.
            6.2.2 Banka Hesabınız ve Yetkili Acenteleriniz
            Banka hesabınızı kapatmadan en az bir (1) iş günü önce
            bize yazılı bildirimde bulunmalısınız. Doğrudan para yatırmaya
            devam etmek istiyorsanız, alternatif bir banka hesabı için bizi
            bilgilendirmelisiniz. Banka hesabınızla ve tüm açık kredilerle ilişkili
            tüm ücret ve maliyetlerden yalnızca siz sorumlusunuz.
            Ayrıca, yanlış bilgi veya talimat vermeniz nedeniyle maruz kalabileceğimiz
            tüm ücretlerden de bize karşı sorumlusunuz. İşlemlerinizi gerçekleştirmek
            için gerekli olan herhangi bir zamanda banka hesabınıza elektronik kredi
            vermemiz için bize yetki verirsiniz. Para alma gecikmelerinden veya üçüncü
            şahısların neden olduğu banka hesabı girişlerindeki hatalardan sorumlu olmayacağız.
            Nakit ödemeleri serbest bırakmak için yetkili kişilerin veya acentelerin kimlik
            belgeleri ve telefon numarası dahil olmak üzere ilgili ayrıntıları bize vermelisiniz.
            6.3.2 Desteklenen Kripto Para Birimi
            Payone tarafından BITCOIN (BTC) dışında sizin adınıza kabul
            edilen herhangi bir desteklenen kripto para birimi, ilgili
            cüzdan adreslerinin Payone ePOS'unuza eklenebilmesi için
            öncelikle yazılı olarak başvurulmalıdır. Payone, sağladığımız
            adres dışındaki yanlış cüzdan adreslerinin yanlışlıkla gönderilmesi
            veya atanması sonucunda meydana gelen kayıplardan sorumlu değildir.

            6.4 Belirli Gecikmeler
            Payone hesabınızla ilgili resmi bir devlet kurumundan gelecek bir
            araştırma talebi üzerine bir araştırma yapmamız veya bekleyen herhangi
            bir anlaşmazlığı çözmemiz gerekirse, ödemeyi erteleyebilir veya bunu
            yaparken paranıza erişimi kısıtlayabiliriz. Buna ek olarak, yasa, mahkeme
            emri veya yasal uygulama açısından gerekli görülmesi halinde ödemeyi
            erteleyebilir veya paranıza erişimi kısıtlayabiliriz.
            6.5 Hesap Bilgileri
            Satıcı hesabınız üzerinden, defterinizi, işlemlerinizi ve ödeme
            geçmişinizi detaylandıran hesap bilgilerine erişebileceksiniz.
            Bir hata tespit ederseniz, kitap girişi ilanınızı izleyen otuz
            (30) takvim günü içinde bizi bilgilendirmelisiniz.

            7. Geri Ödemeler ve Ayarlamalar
            7.1 Geri Ödeme Politikanızın Açıklanması
            Payone, satıcının geri ödeme politikalarından
            sorumlu değildir. Satıcıların müşterileri için
            net bir geri ödeme politikasına sahip olmalarını
            öneririz (varsa "tüm satışlar nihai olduğundan geri
            ödemelere izin verilmez" dahil). Geri ödeme politikası
            belirli endüstriler için geçerli olmayabilir
            (örneğin, bir hizmetin sunulduğu yerlerde).
            Para iadelerine izin veriliyorsa, orijinal satın
            alma tutarını ürünün fiyatlandırıldığı para biriminde
            iade etmenizi öneririz.
        </p>
        <p>
            ödemelere izin verilmez" dahil).
            Geri ödeme politikası belirli endüstriler için geçerli olmayabilir
            (örneğin, bir hizmetin sunulduğu yerlerde). Para iadelerine izin
            veriliyorsa, orijinal satın alma tutarını ürünün fiyatlandırıldığı
            para biriminde iade etmenizi öneririz.

            7.2 Alıcı Şikayetleri
            Payone'e bir satın alma hakkında şikayette bulunan alıcılar,
            çözüm için size iletilecektir. Payone, aşırı şikayet alan hesapları
            feshetme hakkını saklı tutar.

            7.3 Satıcı Şikayetleri
            İşleme hizmetimiz hakkında şikayette bulunan satıcılar,
            info@payone.com adresinden e-posta yoluyla bir şikayette
            bulunmalı veya 0533 837 5179 numaralı telefondan müşteri desteği
            ile iletişime geçmeli veya adresimizi ziyaret etmelidir:
            sırasıyla 10 MagicPlus, Semih Sancar Caddesi, Girne, KKTC.

            8. Hesap Feshi
            8.1 Hesabınızı Kapatma Hakkınız
            Bu Koşullar yalnızca Hizmetleri kullandığınız sürece geçerlidir.
            Bölüm 14.11'e (Yürürlükte Kalma) tabi olarak, bu Koşullar, Hizmetleri
            kullanmayı bıraktığınızda artık geçerli olmayacaktır.
            Payone hesabınızı istediğiniz zaman kapatabilirsiniz.
            Kapatmadan önce, varsa, tahakkuk eden tüm ücretlerden
            bize karşı sorumlu olacaksınız ve henüz size ödenmemiş
            olan ve kapanış öncesi satışlarla ilişkili fonları size
            havale edeceğiz. Hesap bakiyeniz belgelenmiş minimum transfer
            tutarımızın altındaysa, para transferinden kaynaklanan tüm geçerli
            işlem ücretlerinden sorumlu olabilirsiniz.
            8.2 Hesabınızı Kapatma veya Askıya Alma Hakkımız
            Sizi e-posta yoluyla bilgilendirerek, bu sözleşmeye
            aykırı davranmanız durumunda ve/veya resmi bir kurumdan
            gelecek bir mahkeme emri ve/veya polis soruşturması
            nedeni ile hesabınızı sonlandırabiliriz.
            Hesabınızın kapatılması veya askıya alınmasıyla
            ilgili olarak maruz kaldığınız herhangi bir kayıptan
            size karşı sorumlu olmayacağız. Buna ek olarak, Payone,
            tüccar hesabınızda on iki aydan fazla bir süre boyunca
            ödenmiş bir işlem yoksa, işlem yeteneklerini devre dışı
            bırakarak hesabınızı askıya alma hakkını saklı tutar.

            8.3 Hesap Fesih Etkisi
            Payone hesabınız kapatılırsa,
            (a) Bölüm 14.11 (Yürürlükte Kalma)
            (b) (c) uyarınca bu Koşullar kapsamında sağlanan lisansı derhal
            durdurma gereği bu Koşullara bağlı kalmaya devam edersiniz.
            (d) tüm bilgilerinizi ve sunucularımızda depolanan hesap verilerini
            silme hakkını saklı tutarız (ancak hiçbir yükümlülüğümüz yoktur); ve
            (e)Hizmetlere erişiminizin sonlandırılmasından veya bilgilerinizin
            veya hesap verilerinizin silinmesinden size veya herhangi bir üçüncü
            tarafa karşı sorumlu olmayacağız.
        </p>
    </div>

    <div>
        <p>
            9. Tazminat
            Payone'i, bağlı ve ilgili kuruluşlarını ve görevlilerini,
            direktörlerini, çalışanlarını ve temsilcilerini tüm talepler,
            maliyetler, kayıplar, yükümlülükler, zararlar,
            maliyetler ve yargılara ve (bunlarla sınırlı olmamak üzere)
            tüm talepler, şikayetler, eylemler maliyetlerine karşı tazmin
            etmeyi kabul edersiniz. Aşağıdakiler tarafından başlatılan veya
            bunlarla ilgili olan denetimler, soruşturmalar, soruşturmalar veya
            diğer işlemlerden kaynaklanan, bunlarla ilgili veya bunlarla bağlantılı
            olarak ortaya çıkan masraflar ve makul avukat ücretleri:
            (a) garantilerinizin
            veya buralarda belirtilen yükümlülüklerinizin fiili veya fiili temsille Koşulların
            iddia edilen herhangi bir ihlali;
            (b) Hizmetleri kötüye veya uygunsuz kullanımınız;
            (c) yanlış reklam, ürün kusurları, kişisel yaralanma iddiaları, ölüm veya mülkiyet
            hasarı dahil ancak bunlarla sınırlı olmamak üzere Hizmetler aracılığıyla tarafınızdan
            satılan ürünler veya hizmetler; veya (d) Hesap bilgilerinizle başka herhangi bir taraf
            Hizmetlere eriştiğinde veya bunları kullandığında ortaya çıkabilecek zararlara ve / veya
            masraflara karşı Payone'i tazmin etmeyi beyan, kabul ve taahhüt etmektesiniz.

            10. Sorumluluğun Sınırlandırılması

            Payone hiçbir koşulda size veya herhangi bir üçüncü
            şahsa karşı herhangi bir doğrudan, dolaylı, özel, arızi,
            örnek niteliğinde veya cezai zarar veya herhangi bir kayıp,
            hırsızlık veya kar kaybı, diğer gelir kaybı, veri kaybı için
            sorumlu olmayacaktır. Payone hesabınızı veya bunlardaki
            herhangi bir bilgiyi Kullanım, kullanılamama veya yapılamama
            nedeniyle bildiğimiz veya tahmin etmediğimiz eylem veya manevi
            kayıplar dahil olmak üzere hiçbir durumda size veya üçüncü şahıslara
            karşı hizmetlerin hacklenmesi, rahatlatılması, virüs aktarımı veya
            yetkisiz erişimi veya hizmetleri kullanımından dolayı Payone,
            hasar ve kayıplardan sorumlu olmayacaktır. Hizmetlerle bağlantılı
            olarak ortaya çıkan zararlar için sorumluluğumuz, hiçbir durumda,
            hak talebine neden olan olayın 6 aylık süresi içinde hizmetleri
            kullanmanızla bağlantılı olarak tarafımızdan kazanılan ücretleri aşmayacaktır.
            Yukarıdaki sorumluluk sınırlamaları, geçerli yargı alanında yasaların izin
            verdiği en geniş ölçüde geçerli olacaktır.

            11. Çeşitli Hükümler

            11.1 Vergiler
            Yazılım ve hizmetlerimizi kullanımınızla bağlantılı
            olarak herhangi bir nedenle tahakkuk eden veya ödenmesi gereken,
            ödenmesi gereken veya alıkonulan tüm vergileri ("Vergiler") belirlemekten
            siz sorumlusunuz. Doğru Vergileri toplamak, stopaj yapmak, bildirmek ve ilgili
            vergi makamına bildirmekten de yalnızca siz sorumlusunuz. Herhangi bir işlemden
            kaynaklanan Vergileri herhangi bir vergi makamına, Vergileri uygulama veya hesaplama
            konusunda toplama, bildirme veya havale etme yükümlülüğümüz yoktur ve buna karar vermeyeceğiz.

        </p>

        <p>
            11.2 Gizlilik Politikası

            Bilgileri nasıl topladığımız ve kullandığımız hakkında
            bilgi için lütfen Gizlilik Politikamıza bakın.
            Gizlilik Politikası bu Koşulların bir parçasıdır,
            bu nedenle lütfen okuduğunuzdan emin olun.

            11.3 Devir
            Bu Koşulları veya bu Koşullar tarafından verilen hakları
            temlik veya devredemezsiniz. Bu Şartları devredebileceğimizi
            onaylar ve kabul edersiniz.

            11.4 Bölünebilirlik
            Bu Koşulların herhangi bir hükmünün herhangi bir yasa,
            kural veya düzenleme kapsamında geçersiz veya uygulanamaz
            olduğu belirlenirse, bu tür bir belirleme bu Sözleşmenin diğer
            herhangi bir hükmünün geçerliliğini veya uygulanabilirliğini
            etkilemeyecektir.

            11.5 Feragat

            Bu Koşullarda herhangi bir hak veya hükmü ileri sürmememiz,
            bu tür bir hak veya hükümden feragat teşkil etmez ve herhangi
            bir terimden feragat edilmesi, bu veya başka herhangi
            bir terimden başka veya devam eden feragat olarak kabul edilmeyecektir.

            11.6 Sözleşmenin Tamamı

            Burada atıfta bulunulan Gizlilik Politikasını içeren bu Sözleşme,
            tartışılan konularla ilgili olarak sizinle aramızdaki tüm anlayışı
            temsil etmektedir. Başlıklar yalnızca kolaylık sağlamak için dahil
            edilmiştir ve bu Koşulların yorumlanmasında dikkate alınmayacaktır.

            11.7 Bildirimler

            Bizden elektronik biçimde iletişimleri kabul etmeyi
            ve size elektronik olarak sağladığımız tüm hüküm, koşul,
            anlaşma, bildirim, beyan veya diğer iletişimlerin "yazılı"
            olarak değerlendirileceğini kabul edersiniz.

            11.8 Geçerli Kanun

            Bu Sözleşme, kanunlar ihtilafı veya kanun seçimi hükümlerine
            bakılmaksızın, KKTC (Kuzey Kıbrıs Türk Cumhuriyeti) kanunlarına
            tabi olacak ve bu kanunlara göre yorumlanacaktır.

            11.9 Değişiklik

            Bu Koşulları, değiştirilmiş Koşulları web sitemizde
            yayınlayarak ve kayıtlı satıcılarımızı e-posta ile bilgilendirerek
            zaman zaman güncelleyebilir veya değiştirebiliriz.
            Bu tür güncellemeler veya değişiklikler,
            yayınlandığı tarihte geçerli olacaktır.
            Bu tür değişikliklerin bildirilmesinden sonra
            Hizmetleri kullanmaya devam ederseniz, kullanmaya
            devam etmeniz, değiştirilen Koşulların kabulünü ve
            bunlara bağlı bir sözleşmeyi teşkil eder. Değiştirilen
            Koşulları kabul etmiyorsanız, Payone hesabınızı
            kapatmanız ve bu sözleşmenin fesih bölümüne uygun
            olarak Hizmetleri kullanımınızı durdurmanız gerekir.

            11.10 Mücbir Sebep

        </p>

        <p>

            Ne siz ne de biz, yangınlar, telekomünikasyon,
            hizmet veya elektrik kesintileri, ekipman arızaları,
            işçi çatışmaları, isyanlar, savaşlar, satıcılarımızın
            veya tedarikçilerimizin eylemleri gibi olayların neden
            olduğu işlemedeki gecikmelerden veya diğer performans
            eksikliklerinden sorumlu olmayacağız. Tanrı'nın veya ilgili
            tarafın makul denetime sahip olmadığı diğer nedenler;
            Tarafın, bu tür eylemlerin etkilerinden kaçınmak için
            makul ölçüde uygun prosedürlere sahip olması şartıyla.

            11.11 Yürürlükte Kalma

            Bölüm 3.3 (Beyanlar ve Garantiler),
            4 (Hizmetlerin Mülkiyeti ve Payone Web Sitesi),
            5 (Reklam), 6.4 (Belirli Gecikmeler), 9 (Tazminat),
            10 (Sorumluluğun Sınırlandırılması) ve 11.8 (Geçerli Kanun),
            bu şartların sona ermesinden sonra bile yürürlükte kalacaktır.

            12.Yürürlüğe Girme

            PAYONE Ltd. ve Satıcı arasında yukarıdaki şartlarda mutabık
            kalınmıştır. İşbu sözleşme iki nüsha olarak düzenlenerek,
            taraflarca imzalanmış olup, imza tarihinde yürürlüğe girmiştir.
        </p>
    </div>

    <div>
        <p>Company Name : {{company_name}}</p>
        <p>Address: {{address}}</p>
        <p>Manager: {{contact_person}}</p>
        <p>Country: {{country}}</p>
        <p>City: {{city}}</p>
        <p>Email: {{email}}</p>
        <p>Phone: {{phone}}</p>
        <p>Bussiness Registration Number: {{business_registration_number}}</p>
        <p>Website: {{website}}</p>
    </div>




</body>

</html>