{% extends 'secret/layout.html' %}
{% load static%}
{% load i18n %}
{% block content %}

<div class="card">
  <div class="card-title">
    <h5 class="bold text-left ms-3 mt-3">{% trans "Today's Rates" %}</h5>
  </div>
  <div class="card-body">
    <div class="row g-3 ">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-custome-orange">
          <div class="d-flex flex-row p-md-1">
            <div class="card-body d-flex">
              <!-- First Div to the left -->
              <div class="d-flex flex-column">
                <span class="mb-2">Bitcoin (BTC)</span>
                <span id="btc_price"></span>
              </div>
              <!-- Second Div to the right -->
              <div class="ms-auto d-flex flex-column">
                <span><i class="fa-brands fa-btc"></i></span>
                <p class="f-right" id="btc_percentage"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-custome-purple">
          <div class="d-flex flex-row p-md-1">
            <div class="card-body d-flex">
              <!-- First Div to the left -->
              <div class="d-flex flex-column">
                <span class="mb-2">Ethereum (ETH)</span>
                <span id="eth_price"></span>
              </div>
              <!-- Second Div to the right -->
              <div class="ms-auto d-flex flex-column">
                <span><i class="fa-brands fa-ethereum"></i></span>
                <p class="f-right" id="eth_percentage"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-custome-green">
          <div class="d-flex flex-row p-md-1">
            <div class="card-body d-flex">
              <!-- First Div to the left -->
              <div class="d-flex flex-column">
                <span class="mb-2">Tether (USDT)</span>
                <span id="usdt_price"></span>
              </div>
              <!-- Second Div to the right -->
              <div class="ms-auto d-flex flex-column">
                <span><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
                <p class="f-right" id="usdt_percentage"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-custome-green-1">

          <div class="d-flex flex-row p-md-1">
            <div class="card-body d-flex">
              <!-- First Div to the left -->
              <div class="d-flex flex-column">
                <span class="mb-2">TRON (TRX)</span>
                <span id="ltc_price"></span>
              </div>
              <!-- Second Div to the right -->
              <div class="ms-auto d-flex flex-column">
                <span><img src="{% static '/img/Vector.svg' %}" alt="" style="height: 22px;" /></span>
                <p class="f-right" id="ltc_percentage"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="row g-3 my-5">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-custome-orange">
          <div class="d-flex flex-row p-md-1">
            <div class="card-body d-flex">
              <!-- First Div to the left -->
              <div class="d-flex flex-column">
                <span class="mb-2">Bitcoin</span>
                <span id="btc_price_tr"></span>
              </div>
              <!-- Second Div to the right -->
              <div class="ms-auto d-flex flex-column">
                <span><i class="fa-brands fa-btc"></i></span>
                <p class="f-right" id="btc_percentage_tr"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-custome-purple">
          <div class="d-flex flex-row p-md-1">
            <div class="card-body d-flex">
              <!-- First Div to the left -->
              <div class="d-flex flex-column">
                <span class="mb-2">Ethereum</span>
                <span id="eth_price_tr"></span>
              </div>
              <!-- Second Div to the right -->
              <div class="ms-auto d-flex flex-column">
                <span><i class="fa-brands fa-ethereum"></i></span>
                <p class="f-right" id="eth_percentage_tr"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-custome-green">
          <div class="d-flex flex-row p-md-1">
            <div class="card-body d-flex">
              <!-- First Div to the left -->
              <div class="d-flex flex-column">
                <span class="mb-2">USDT</span>
                <span id="usdt_price_tr"></span>
              </div>
              <!-- Second Div to the right -->
              <div class="ms-auto d-flex flex-column">
                <span><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
                <p class="f-right" id="usdt_percentage_tr"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-custome-green-1">
          <div class="d-flex flex-row p-md-1">
            <div class="card-body d-flex">
              <!-- First Div to the left -->
              <div class="d-flex flex-column">
                <span class="mb-2">LTC</span>
                <span id="ltc_price_tr"></span>
              </div>
              <!-- Second Div to the right -->
              <div class="ms-auto d-flex flex-column">
                <span><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
                <p class="f-right" id="ltc_percentage_tr"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> {% endcomment %}
  </div>
</div>


<!--script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="{% static '/js/custom/dashboard.js' %}"></script>
{% endblock content %}