{% extends 'secret/layout.html' %}

{% load static%}
{% load i18n %}

{% comment %}
{% block breadcrumbs %}
transaction history
{% endblock breadcrumbs %} {% endcomment %}
{% block content %}


<div class="card">
  <div class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title ">
          {% trans "Payment History" %}
        </h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table id="transactionHistory" class="table text-left">
      <!-- <caption>{% trans "This is a History Table" %}</caption> -->

      <thead class="text-left">
        <tr>
          <!--th>#</th-->
          <th>{% trans "Reference Number" %}</th>
          <th>{% trans "Transaction Start Date" %}</th>
          <th>{% trans "Transaction Received Date" %}</th>
          <th>{% trans "Expected Crypto" %}</th>
          <th>{% trans "Received Crypto" %}</th>
          <!-- <th>{% trans "Crypto Type" %}</th> -->
          <th>{% trans "Expected Amount" %}</th>
          <th>{% trans "Receivable Amount" %}</th>
          <th>{% trans "Unpaid Amount" %}</th>
          <th>{% trans "Exchange Rate" %}</th>
          <!-- <th>{% trans "Network" %}</th> -->
          <th>{% trans "Service Fee" %}</th>
          <th>{% trans "Status" %}</th>
        </tr>
      </thead>
      <tbody>

      </tbody>

    </table>

  </div>


</div>




<script src="{% static '/js/custom/history.js' %}"></script>
{% endblock content %}