{% extends 'secret/layout.html' %}
{% load static%}
{% load i18n %}

{% comment %} {% block breadcrumbs %}
payment report
{% endblock breadcrumbs %} {% endcomment %}
{% block content %}



<div class="card">
  <div class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title ">
          {% trans "Payment Report" %}
        </h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table id="payments" class="table w-100 text-left ">
      <!-- <caption>{% trans "This is Payments Report Table" %}</caption> -->
      <thead>
        <tr>
          <!--th>#</th-->
          <th>{% trans "Transaction ID" %}</th>
          <th>{% trans "Amount" %}</th>
          <th>{% trans "Crypto Type" %}</th>
          <th>{% trans "Network" %}</th>
          <th>{% trans "Transaction Date And Time" %}</th>
          <th>{% trans "status" %}</th>
        </tr>
      </thead>
      <tbody>

      </tbody>

    </table>

  </div>


</div>




<script src="{% static 'js/custom/payment_report.js' %}"></script>

{% endblock content %}