{% extends 'secret/layout.html' %}
{% load static %}
{% load i18n %}
{% comment %} {% block breadcrumbs %}
payment transaction
{% endblock breadcrumbs %} {% endcomment %}
{% block content %}


<div class="card">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title ">
                    {% trans "Create Payment Link" %}
                </h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row justify-content-center">

                <div class="col-md-4">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="banknotes" class="form-label">{% trans "Select Currency" %}</label>
                            <select id="banknotes" class="form-select" required>
                                <option selected value="TRY">TRY - Turkish Lira</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="crypto" class="form-label">{% trans "Select Crypto" %}</label>
                            <select id="crypto" class="form-select" required>
                                <option selected disabled value="">{% trans "Select Crypto Currency" %}</option>
                                <option value="BTC">BTC - Bitcoin</option>
                                <option value="USDT">USDT - Tether</option>
                                <!--option value="ETH">ETH - Ethereum</option-->
                                <!-- <option value="TRX">TRX - Tron</option> -->
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="network" class="form-label">{% trans "Select Network" %}</label>
                            <select id="network" class="form-select" required>
                                <option selected disabled value="">{% trans "Select Crypto Network" %}</option>
                                <option value="BTC">BTC - Bitcoin</option>
                                <option value="TRC20">TRC20 - TRON</option>
                                <!--option value="ERC20">ECR20 - Ethereum</option-->
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="amount" class="form-label">{% trans "Payment Amount" %}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="amount" oninput="formatThousands(this)"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-turkish-lira-sign"></i>
                                    </span>
                                </div>
                            </div>
                        </div>


                        {% if data.commission_type == 2 %}

                        <div class="mb-3" id="commissionDiv">
                            <label for="commission" class="form-label">{% trans "Service Fee" %}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ data.commission }}" id="commission"
                                    disabled>
                                
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-cash-register"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        {%  endif %}

                        <input type="text" class="form-control" value="{{ data.commission_type }}"
                                    id="commission_type" disabled hidden>



                        <div class="row text-center" id="result"></div>

                        <div class="d-grid">
                            <button type="button" id="calculate" class="cal btn btn-primary">
                                {% trans "Calculate" %}
                            </button>
                        </div>
                        <div class="d-grid">
                            <button type="button" id="submitBtn" class="cal btn btn-primary d-none"
                                data-bs-toggle="modal" data-bs-target="#qrCodeModal">{% trans "Create QR Code?" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCode" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete">{% trans "QR Code" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <form action="/qrcode" method="post"> -->
                    <div class="card-body row">
                        <p class="text-left">{% trans "Create QR Code?" %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancel_qr_generate"
                            data-bs-dismiss="modal">{%trans "Cancel" %}</button>
                        <button type="button" class="btn btn-success" id="create_qr">{% trans "Create" %}</button>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function formatThousands(input) {
        var inputValue = input.value;

        // Convert the input value to a number (removing any potential commas or periods)
        var numericValue = parseFloat(inputValue.replace(/[,.]/g, ''));

        // Check if the input is a valid number
        if (!isNaN(numericValue)) {
            // Format the number using the German locale (de-DE)
            var formattedValue = numericValue.toLocaleString('de-DE');
            input.value = formattedValue;
        }
    }
</script>
<script src="{% static '/js/custom/payment_link.js' %}"></script>
{% endblock content %}