{% extends 'secret/layout.html' %}
{% load static %}
{% load i18n %}

{% comment %} {% block breadcrumbs %}
Qr code
{% endblock %} {% endcomment %}
{% block content %}

<div class="card-body">
  <div class="row">
    <div class="col-md-12 text-center justify-content-center">
      <form class="d-flex justify-content-center mt-2">
        <div class="text-center">
          <figure class="top-payment__icon">
            {% if data.coin == 'BTC' %}
            <img src="{% static '/img/icon-btc.svg' %}" alt="" style="height: 80px;" class="top-payment__currency" />
            {% elif data.coin == 'ETH' %}
            <img src="{% static '/img/icon-eth.svg' %}" alt="" style="height: 80px;" class="top-payment__currency" />
            {% elif data.coin == 'USDT' %}
            <img src="{% static '/img/icon-teth.svg' %}" alt="" style="height: 80px;" class="top-payment__currency" />
            {% elif data.coin == 'TRX' %}
            <img src="{% static '/img/icon-trx.svg' %}" alt="" style="height: 80px;" class="top-payment__currency" />
            {% endif %}

          </figure>
          <div class="d-lock">
            <span>
              <h4><strong><span id="crypto_amount">{{data.expected_crypto}}</span></strong>/{{data.coin}}</h4>
            </span>
            <span>
              <h4><strong><span id="banknote_amount">{{data.expected_amount}}</span></strong>/{{data.banknote}}</h4>
            </span>
          </div>
          <div class="mt-4">
            {% if data.status == 1 %}
            <span style="color:green">
              <h4><strong>{% trans "Successful Payment" %}</strong></h4>
            </span>
            {% elif data.status == 0 %}
            <span style="color:orange">
              <h4><strong>{% trans "Awaiting Payment" %}</strong></h4>
            </span>
            {% elif data.status == -1 %}
            <span style="color:red">
              <h4><strong>{% trans "Canceled Payment" %}</strong></h4>
            </span>
            {% endif %}
          </div>
          <div class="mt-5">
            <div width="350" height="350">
              <img src="data:image/png;base64,{{ data.qr_code }}" alt="" style="height: 200px ;"
                class="border border-5 rounded" />
            </div>
          </div>
          <div class="mt-3">
            <div class="row">
              <div class="col-md-12">
                <h4><strong><span># {{data.reference_no}}</span></strong><span id="startdate"
                    class="ms-5">{{data.timestamp}}</span></h4>
                <span id="address" class="text-center text-wrap d-none">{{data.address}}</span>
                <input type="number" id="refrence" value="{{data.reference_no}}" hidden>

                <div class="input-group mb-3">
                  <input type="text" class="form-control" value="{{data.address}}" readonly>
                  <div class="input-group-append">
                    <button type="button" id="copyButton" class="btn btn-sm btn-primary mt-1"><i
                        class="fa fa-clipboard"></i></button>
                  </div>
                </div>
                <!-- <button type="button" id="copyButton" class="btn btn-sm btn-primary mt-1"><i
                     class="fa fa-clipboard"></i></button> -->
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="row">
              {% if data.status == 0 %}
              <div class="col-12 mb-3">
                <button type="button" style="width:190px;" id="cancelBtn" class="btn btn-outline-danger">
                  {% trans "Cancel" %}</button>
              </div>
              {% endif %}
              <div class="col-12">
                <a href="/secret" style="width:190px;" class="btn btn-primary">{% trans "Return to dashboard" %}</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="{% static '/js/custom/qrcode.js' %}"></script>
{% endblock %}