<div class="container">
  <form>
    <div class="row">
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option1" value="option1" />
          <label class="form-check-label" for="option1">Option 1</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option2" value="option2" />
          <label class="form-check-label" for="option2">Option 2</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option3" value="option3" />
          <label class="form-check-label" for="option3">Option 3</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option4" value="option4" />
          <label class="form-check-label" for="option4">Option 4</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option5" value="option5" />
          <label class="form-check-label" for="option5">Option 5</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option6" value="option6" />
          <label class="form-check-label" for="option6">Option 6</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option7" value="option7" />
          <label class="form-check-label" for="option7">Option 7</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option8" value="option8" />
          <label class="form-check-label" for="option8">Option 8</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="radioGroup" id="option9" value="option9" />
          <label class="form-check-label" for="option9">Option 9</label>
        </div>
      </div>
      <!-- Add more columns if needed -->
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock content %}
