{% extends 'secret/layout.html' %}
{% load static %}
{% load i18n %}

{% comment %} {% block breadcrumbs %}
transaction history
{% endblock %} {% endcomment %}
{% block content %}
<table id="payments" class="table w-100 text-left">
  <caption>This is Payments Report Table</caption>

  <thead>
    <tr>
      <th>{% trans "Transaction Date" %}</th>
      <th>{% trans "Branch" %}</th>
      <th>{% trans "Cashier Transaction Number" %}</th>
      <th>{% trans "Transaction Amount" %}</th>
      <th>{% trans "Crypto Type" %}</th>
      <th>{% trans "Converted Amount" %}</th>
      <th>{% trans "Currency Amount" %}</th>
      <th>{% trans "Current Commission" %}</th>
      <th>{% trans "Transfered to Account" %}</th>
    </tr>
  </thead>
  <tbody>
    <!-- tr>
            <td>23.06.2023</td>
            <td>Nicosia</td>
            <td>56868688680000</td>
            <td>0.05</td>
            <td>BTC</td>
            <td>1536.600</td>
            <td>0.05</td>
            <td>2.5%</td>
            <td>Merit Hotel(2506321000)</td>
        </tr -->
  </tbody>
</table>

<script src="js/custom/payment_report.js"></script>
{% endblock %}