{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{% static '/img/PAYONE_Emblem_100.svg' %}">
    <title>PAYONE | Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

    <!-- <title><?= $this->renderSection('title') ?></title> -->

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="/css/login.css"> -->
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        .primary-text {
            color: #007bff;
        }

        .bold-h3 {
            font-weight: bolder;
        }

        .text-color {
            color: #0057ff;
        }

        .light-h5 {
            font-weight: '80';
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <div class="container d-flex flex-column vh-100 justify-content-center align-items-center">

        <img src="{% static 'media/illustrations/sketchy-1/500.svg'%}" alt="Error 500" class="img-fluid" />
        <h3 class="mt-3 bold-h3 text-color text-center">{% trans "Sorry!" %}</h3>
        <h5 class="mt-2 light-h5 text-color text-center">
            {% trans "Sorry, something went wrong on our server. We are working to fix the issue." %}
        </h5>

    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

</html>